<div class="container">
<%= render 'shared/pagetitle', pageTitle:'All Recipes'%>
<div align="center">
<%= will_paginate %>
</div>
<%= render 'listings', obj: @recipes  %>
</div>
<div align="center">
<%= will_paginate %>
</div>

