<% if orm.errors.any? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
      <h2 class="panel-title"> <%= pluralize(orm.errors.count ,"errors") %> from saving this <%= orm.class%> </h2>
      </div>
      <div class="panel-body">
          <ul>
            <% orm.errors.full_messages.each do |msg|%>
            <li><%= msg%></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
