<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <%# <a href="#">Back to top</a> %>
      <%= link_to "Back to All Blogs", recipes_path%>
    </p>
    <%# <p class="mb-1">Home and See more ?</p> %>
    <%= link_to "Home and See more ?", root_path%>
    <p class="mb-0">New to Rails ?<a href="/">
  </div>
</footer>
