$navbar-default-bg :lightblue;
@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.jumbotron {
  background-image: asset-url('cover_unsplash.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h2, h3 {
// color: #fff;
text-align: left;
margin-bottom: 30px;
letter-spacing: -1px;
font-weight: bold;
}

#logo:hover {
color: black;
text-decoration: none;

}

.btn-xlarge:hover {
  color: blue;
// text-decoration: none;
  text-transform: uppercase;
}

.description{
  margin-top: 0;
}

.well a {
  color: lightblue;
  white-space: nowrap;
}

.chef_info.center{
  margin-top:40px;
}

.recipe-actions{
  // padding-top: 5px;
}

.recipe-actions a{
  color:white;
  display: inline-block;
}

.buttons {
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  margin: 0 auto;
}
.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
color: lightblue;
font-weight: bold;
font-size:1.25em;
}

.lo {
  margin-top: 10px;
  border: none;
  outline: none;
  // background-color:gray;
}
